html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Petit Formal Script', serif;
  color: #2c6eb2;
}

p {
  color: #777;
}

body {
  padding: 0;
  margin: 0;
  font-family: avenir next, sans-serif;
}
body header {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
body header #nav {
  background-color: rgba(44, 110, 178, 0.6);
}
body header #nav #logo {
  width: 20%;
  height: auto;
  margin: 1em;
  margin-left: 4.5em;
}
@media (min-width: 768px) {
  body header #nav #logo {
    margin-left: 10em;
  }
}
body header h1 {
  padding: 0;
  margin: 0;
  margin: 0 auto;
}
body header hr {
  style: none;
  margin: 1em;
}
body header nav {
  background-color: rgba(12, 185, 232, 0.1);
  padding: 3em;
}
body header nav ul li {
  display: inline-block;
  margin-top: 5em;
}
body header nav ul li a {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.7em;
  color: #333;
  text-align: center;
  text-decoration: none;
}
body header nav ul li a:hover {
  background-color: #fff;
}
body main .paragraph {
  margin: 2.5em;
}
body main .paragraph h1 {
  font-size: 27px;
}
body main .paragraph p {
  margin-bottom: 2em;
}
body main .paragraph a {
  text-decoration: none;
  background-color: #2c6eb2;
  color: #eee;
  padding: 1em;
}
@media (min-width: 768px) {
  body main #service {
    width: 50%;
    float: left;
    margin: 0;
  }
}
body main .paragraph-image img {
  width: 100%;
}
@media (min-width: 768px) {
  body main .paragraph-image img {
    width: 50%;
    float: left;
  }
}
body main #food-img img {
  width: 100%;
  float: left;
}
@media (min-width: 768px) {
  body main #food-img img {
    width: 25%;
    height: 160px;
  }
}
body footer {
  background-color: #2c6eb2;
  padding: 1em;
}
body footer p {
  color: #eee;
  margin: 1em;
}
